absl-py
chex
clu
einops
flax

jax
jaxlib  # Make sure CUDA version matches the base image.

ml-collections
numpy
pandas
tensorflow-cpu  # Using tensorflow-cpu to have all GPU memory for JAX.
tensorflow-datasets
tensorflow-probability
tensorflow_text
wget
kaleido
transformers
ftfy
regex
tqdm